.env
.venv
pylint
__pycache__
python_env

.coverage
htmlcov
junit.xml
coverage.xml

ml_models
mlflow_models
datasets
experiments
data

.parquet
.xls
.xlsx
.csv
.delta
.tfrecord
.tsv
.json
.xml
.hdf5